<!DOCTYPE html>
<html>
<head>
    <title>{{article.meta.title}} - {{blog.title}}</title>
    {{>head}}
</head>
<body class="home-template">
{{>header}}
<div class="content container">
    <div class="post">
        <h1>{{article.meta.title}}</h1>
        <span class="post-date">{{article.meta.publish_date}}</span>

        {{{article.toc_html}}}
        {{{article.body_html}}}
    </div>
</div>
</body>
</html>