<!DOCTYPE html>
<html>
<head>
    <title>{{blog.title}}</title>
    {{>head}}
</head>
<body class="home-template">
{{>header}}
<div class="content container">
    {{>list}}
</div>

{{>footer}}
</body>
</html>