<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta name="generator" content="{{ m2m.name }} - {{ m2m.version }}">
<link rel="stylesheet" href="{{root/relative_path}}_assets/style.css">
<link rel="stylesheet" href="{{root/relative_path}}_assets/highlight/github.css">
<script src="{{root/relative_path}}_assets/gitbook.js"></script>
<script src="{{root/relative_path}}_assets/theme.js"></script>
<script src="{{root/relative_path}}_assets/highlight/highlight.js"></script>

<style>
.page-inner h1 {
  padding-bottom: .3em;
  font-size: 2.25em;
  line-height: 1.2;
  border-bottom: 1px solid #eee;
}

code{
    color: rgb(205, 14, 14);
}
</style>